body {
    font-family: Arial, sans-serif;
    background-color:  #fafafa; /*cor de fundo do site*/
    display: block;
    padding: 30px;
    justify-items: center;
}

header {
    display: block;
    justify-items: center;
    justify-self: center;
    text-align: center;
    background-color: #b6c7ff; /*Menu*/
    padding: 30px;
    color: #384566; /*letra do menu*/
    border-radius: 8px;
    margin-bottom: 40px;
    width: 100%;
    box-shadow: 11px 11px 6px rgba(16, 32, 0, 0.1);
}

main {
    display: block;
    justify-items: center;
}

.card {
    background: #b6c7ff; /*caixinha dos cadastro*/
    border-radius: 8px;
    box-shadow: 11px 4px 6px rgba(16, 32, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 90%;
    transition: transform 0.2s ease-out; /*tempo da animação*/
}

.card h2 {
    margin-bottom: 20px;
    color:#384566; /*cor das letras do cadastro*/
    font-size: 24px;
}

.card a {
    display: block;
    margin: 10px ;
    padding: 20px;
    background: #ffffff; /*cor das caixinhas de dentro do cadastro*/
    border: none;
    border-radius: 11px;
    font-size: 18px;
    cursor: pointer; 
}

.card button:hover ,.card a:hover  {
    background: #ecebff; /*cor qnd passa mouse em cima*/
}

.card:hover {
    transform: scale(1.04);  /*ANIMAÇÃO MUITOO LEGAL */
    
}

a{
    text-decoration: none; /*pra n fica o link*/
    color: #384566;
}

#Opcoes{
    display: flex;
    justify-content: center;
}
