body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-color:  #fafafa; /*cor de fundo do site*/
    display: flex;
    justify-content: center;
    padding: 40px; 
    
}

header {
    text-align: center;
    background-color: #b6c7ff; /*Menu*/
    padding: 30px;
    color: rgb(0, 0, 0); /*letra do menu*/
    border-radius: 8px;
    margin-bottom: 20px;
     box-shadow: 11px 11px 6px rgba(16, 32, 0, 0.1);
}

main {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.card {
    background: #c0c1ff; /*caixinha dos cadastro*/
    border-radius: 8px;
    box-shadow: 11px 4px 6px rgba(16, 32, 0, 0.1);
    padding: 50px;
    text-align: center;
    min-width: 300px; 
    min-height: 400px;
    transition: transform 0.5s ease-out;  /*efeito para animação*/
}

.card h2 {
    margin-bottom: 20px;
    color:rgb(7, 0, 0); /*cor das letras do cadastro*/
    font-size: 24px;
}

.card a {
    display: block;
    margin: 10px ;
    padding: 20px;
    background: #ffffff; /*cor das caixinhas de dentro do cadastro*/
    border: none;
    border-radius: 11px;
    font-size: 18px;
    cursor: pointer;
  
}

.card button:hover ,.card a:hover  {
    background: #ecebff; /*cor qnd passa mouse em cima*/
}

.card:hover {
    transform: scale(1.05);  /*ANIMAÇÃO MUITOO LEGAL */
}

a{
    text-decoration: none; /*pra n fica o link*/
    color: rgb(0, 0, 0);
}
