body {
    font-family: Arial, sans-serif;
    background-color:  #fafafa; /*cor de fundo do site*/
    display: block;
    padding: 30px;
    justify-items: center;
}

header {
    display: block;
    justify-items: center;
    justify-self: center;
    text-align: center;
    background-color: #b6c7ff; /*Menu*/
    padding: 30px;
    color: #384566; /*letra do menu*/
    border-radius: 8px;
    margin-bottom: 40px;
    width: 100%;
    box-shadow: 11px 11px 6px rgba(16, 32, 0, 0.1);
}

main {
    display: block;
    justify-items: center;
}

.card {
    background: #b6c7ff; /*caixinha dos cadastro*/
    border-radius: 8px;
    box-shadow: 11px 4px 6px rgba(16, 32, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 90%;
    transition: transform 0.2s ease-out; /*tempo da animação*/
}


.card h2 {
    margin-bottom: 20px;
    color:#384566; /*cor das letras do cadastro*/
    font-size: 24px;
}

.card a {
    display: block;
    margin: 10px ;
    padding: 20px;
    background: #ffffff; /*cor das caixinhas de dentro do cadastro*/
    border: none;
    border-radius: 11px;
    font-size: 18px;
    cursor: pointer; 
}

.card button:hover ,.card a:hover  {
    background: #ecebff; /*cor qnd passa mouse em cima*/
}

.card:hover {
    transform: scale(1.04);  /*ANIMAÇÃO MUITOO LEGAL */
    
}

a{
    text-decoration: none; /*pra n fica o link*/
    color: #384566;
}

#Opcoes{
    display: flex;
    justify-content: center;
}

/*ADD PRODUTO*/

.form-container {
    background-color: #b6c7ff;
    padding: 60px;
    border-radius: 30px;
    box-shadow: 10px 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

button {
    background-color: #46576f;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    display: flex;
}




button:hover {
    background-color: #444;
}

/*Listar PRODUTO*/

.listagem-container {
    padding: 20px;
    margin: auto;
    max-width: 1200px;
    background-color:#b6c7ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}

.listagem-container h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    
}

.cardListar {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 11px 4px 6px rgba(16, 32, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: transform 0.2s ease-out; /*tempo da animação*/
}


/* Container dos cartões */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: left;
    gap: 20px;
}




/* consultar produto vendidos*/
.consultar-container a:hover {
    text-decoration: underline;
}

.consultar-container {
    max-width: 800px;
    margin: auto;
    background-color: #b6c7ff;
    border-radius: 8px;
    padding: 20px;
}

.consultar-container a {
    color: #1d1d1d;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 15px;
    display: inline-block;
}

.consultar-container a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 24px;
    color:rgb(250, 245, 245);
    margin-bottom: 20px;
    text-align: center;
    
}

/* Estilo dos cards de vendas */

.card-container-consultar {
    border-top: 2px solid #3d3a3a; /* linha q fica embaixo do consultar vendas*/
    padding-top: 10px;
}

.card-consultar {
    margin-bottom: 20px;
    border: 2px solid #d6ddf5;
    border-radius: 8px;
    background-color: #d3dcf7;
    padding: 10px;
}

.card-consultar p {
    font-size: 16px;
    color: #384566;
    background-color: #f5f7ff;
    padding: 8px;
   
    text-align: center;
    margin: 0;
    border-radius: 4px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid  #b7c7f0;
    border-radius: 4px;
}

li {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Cria 5 colunas iguais */
    gap: 10px;
    font-size: 14px;
    color: #000000;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
li:first-child {
    position: relative;
}

li:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Espessura da linha */
    
}
li:last-child {
    border-bottom: none;
}

li span {
    text-align: center;
}

span strong {
    font-weight: bold;
    color: #000000;
}

/* Destaque no hover */
.card-consultar:hover {
    box-shadow: 0 4px 8px rgba(52, 101, 124, 0.2);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}

